$bg-color: #171717;
$fg-color: #fff;
$primary-color: #589536;
$primary-alt-color: #264fe8;

* {
  box-sizing: border-box;
}

body,html {
  margin: 0;
  padding: 0;
}

html {
  overflow-y: scroll;
}

body {
  color: darken($fg-color, 20%);
  background: $bg-color;
  font-family: 'Roboto', sans-serif;
}

.wrapper {
  max-width: 600px;
  margin: 0 auto;
  padding-top: 100px;
}

.container {
  padding: 0 5%;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

a {
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  border-bottom: 1px solid transparent;

  &:hover {
    border-bottom: 1px solid $primary-color;
  }
}

// Intro ----------------------------------------------------
header {
  position: relative;

  .floating {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: lighten($bg-color, 2.5%);
    font-size: 8em;
    z-index: -1;
  }

  h1 {
    color: $fg-color;
    margin: 0;
  }

  p {
    margin: 0 0 2em 0;
  }
}

.version {
  font-size: 12px;
  font-weight: 700;
  vertical-align: top;
  padding: .25em .5em;
  color: $fg-color;
  background: $primary-alt-color;
}

// Inputs ---------------------------------------------------
.input-group {
  display: block;
  margin-bottom: 2em;

  label {
    display: block;
    font-size: .9em;
    font-weight: 400;
    margin-bottom: .5em;
    color: lighten($bg-color, 40%);
    font-weight: 700;
  }

  input {
    background: darken($bg-color, 2.5%);
    color: darken($fg-color, 50%);
    font-size: 1em;
    padding: .5em 1em;
    width: 100%;
    border: 1px solid lighten($bg-color, 10%);
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    transition: all 250ms ease-in-out;

    &.rounded {
      border-bottom-left-radius: 2px;
      border-bottom-right-radius: 2px;
    }
  }

  input:focus {
    outline: 0;
    color: $fg-color;
    border-color: lighten($primary-alt-color, 10%);
  }
}

// Dropdown -------------------------------------------------
.dd-container {
  z-index: 99;
  position: relative;

  .dd {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    color: $bg-color;
    background: darken($fg-color, 15%);
    box-shadow: 0 2px 5px rgba(0, 0, 0, .5);
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;

    span {
      display: block;
      padding: 1em 1.5em;

      &:hover {
        cursor: pointer;
        background: darken($fg-color, 20%);
      }
    }

    &.hidden {
      display: none;
    }
  }
}

// Atlas bar ------------------------------------------------
#atlas-container {
  background: #000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;

  #atlas-numbers {
    font-size: 12px;
    color: #fff;
    font-weight: 700;
    position: absolute;
    top: 5px;
    padding: .5em 0 1em 0;
    left: 0;
    width: 100%;
    text-align: center;
    text-shadow: 1px 1px 2px $bg-color;
    background: linear-gradient(180deg, rgba(0, 0, 0, .75), transparent);
  }

  #atlas-bar {
    width: 0;
    background: $primary-color;
    height: 5px;
    transition: all 250ms ease-in-out;
  }
}

// Top button
#top-button {
  position: fixed;
  left: 50%;
  bottom: 1em;
  background: $primary-alt-color;
  color: $fg-color;
  border-radius: 1em;
  padding: .5em 1em;
  transform: translateX(-50%);
  border: 0;
  pointer-events: all;
  z-index: 9999;
  transition: all 500ms ease-in-out;

  &:hover {
    cursor: pointer;
    background: lighten($primary-alt-color, 5%);
  }

  &.hidden {
    bottom: -100%;
    pointer-events: none;
  }
}

// Toolbar --------------------------------------------------
#toolbar-container {
  background: $fg-color;
  color: lighten($bg-color, 25%);
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  box-shadow: 0 2px 10px $bg-color;

  #toolbar {
    display: flex;
    justify-content: center;

    .toolbar-button {
      position: relative;
      display: block;
      padding: .5em 1em;
      border-right: 1px solid darken($fg-color, 10%);

      &:first-of-type {
        border-top-left-radius: 2px;
      }

      &:last-of-type {
        border-top-right-radius: 2px;
        border-right: 0;
      }

      &:hover,
      &.active {
        cursor: pointer;
        background: darken($fg-color, 10%);

        &:hover:after {
          display: block;
        }
      }

      &:after {
        display: none;
        content: attr(data-tooltip-text);
        position: absolute;
        bottom: 110%;
        left: 50%;
        transform: translateX(-50%);
        color: $fg-color;
        background: rgba(0, 0, 0, .5);
        padding: .25em .5em;
        white-space: nowrap;
      }
    }
  }

  .red {
    color: lighten(red, 10%);
  }

  .green {
    color: $primary-color;
  }
}


// Maps -----------------------------------------------------
#loader {
  background: $fg-color;
  color: $bg-color;
  border-top: 1px solid darken($fg-color, 10%);
  padding: 1em;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

#maps-container {
  .magic {
    color: #8888ff;
  }

  .rare {
    color: #ffff77;
  }

  .corrupted {
    color: red;
  }

  .map-tier {
    background: $fg-color;
    position: relative;
    border: 1px solid darken($fg-color, 10%);
    border-width: 1px 0 0 0;

    &:last-of-type {
      border-bottom-left-radius: 2px;
      border-bottom-right-radius: 2px;
      border-width: 1px 0;
    }

    &.hidden {
      display: none;
    }

    .map-tier-heading {
      margin: 0;
      padding-left: 1em;
      font-size: 1em;
      height: 48px;
      line-height: 48px;

      &:hover {
        cursor: pointer;
        background: darken($fg-color, 2.5%);
      }

      &.red {
        color: lighten(red, 10%);
      }

      &.yellow {
        color: lighten(orange, 5%);
      }

      &.white {
        color: $bg-color;
      }
    }

    .map-tier-counter {
      font-size: .75em;
      font-weight: 700;
      color: darken($fg-color, 50%);
      background: darken($fg-color, 5%);
      padding: .25em 1em;
      border-radius: 10px;
      margin-left: 1em;
      pointer-events: none;
      transition: all 250ms ease-in-out;

      &.hidden {
        opacity: 0;
      }
    }

    .map-tier-complete {
      position: absolute;
      top: 0;
      right: 0;
      padding: 16px;

      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }

    .map-expando {
      border: 1px solid darken($fg-color, 10%);
      border-width: 2px 0 1px 0;
      background: darken($fg-color, 5%);
      overflow: hidden;

      .map-name {
        position: relative;
        display: block;
        padding: 1em 1.5em;

        &:hover {
          cursor: pointer;
          background: darken($fg-color, 10%);
        }

        &.hidden {
          display: none;
        }

        &.completed:after {
          content: "\f058";
          display: block;
        }

        &:after {
          font-family: FontAwesome;
          content: "\f10c";
          color: $primary-color;
          position: absolute;
          top: 50%;
          right: 1.5em;
          transform: translateY(-50%);
        }

        a {
          display: inline-block;
          font-weight: 400;
          color: lighten($bg-color, 10%);

          &.unique {
            color: #ff7800;
          }
        }
      }

      &.animated {
        // Sorry, had to hack

        transform: translate3d(0, 0, 0);
        transition: max-height 250ms ease-in-out;
      }

      &.collapsed {
        border: 0;
        max-height: 0 !important;
      }
    }
  }
}

// Footer ---------------------------------------------------
footer {
  padding: 2em 0 5em;
  font-size: .75em;

  p {
    margin: 0 0 .5em 0;
  }

  .footer-list {
    margin: 0;
    padding: 0;

    li {
      display: inline-block;

      &:after {
        content: "•";
        margin: 0 .5em;
      }

      &:last-child:after {
        display: none;
      }
    }
  }
}
